@* _MenuItemCard.cshtml *@
@model Domain.Models.MenuItem

<div class="card p-2">
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
            <img src="@Model.ImagePath" class="card-img-top mb-2" alt="@Model.Title" />
    }
    <strong>@Model.Title</strong><br />
    Price: @Model.Price<br />
    Restaurant: @Model.Restaurant?.Name<br />
    Status: @Model.Status
</div>
