@* _RestaurantCard.cshtml *@
@model Domain.Models.Restaurant

<div class="card p-2">
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
            <img src="@Model.ImagePath" class="card-img-top mb-2" alt="@Model.Name" />
    }
    <strong>@Model.Name</strong><br />
    Owner: @Model.OwnerEmailAddress<br />
    Status: @Model.Status
</div>
